@model IEnumerable<QuickList.Models.GroceryItems>

@{
    ViewData["Title"] = "ItemsInList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ItemsInList</h1>
<div class="container">
    <!--Blazor-->
    <form method="POST" action="/GroceryItems/AddToList">
        <input value="" name="city" placeholder="City Name" />
        <input value="" name="product" placeholder="Product Name" />
        <input value="" name="number_days" type="number" placeholder="Number of Days" />
        <input hidden value="@ViewData["ListId"]" name="ListId" placeholder="id" />
        <input type="submit" value="Add" />
    </form>
</div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroceryList)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="price">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroceryList.GroceryListId)
        </td>*@
            
        <td>
            <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a> |
            <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> 
            @*<a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |*@

        </td>
        </tr>
}
    <tr>
        <td>
            Total Cost
        </td>

        <td id="totalCost">
            Total Cost:
        </td>

        <td>

        </td>
    </tr>
    </tbody>
</table>
@*Total Cost of list below*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let totalPrice = 0;
        $('.price').each(function () {
            totalPrice=totalPrice+parseFloat($(this).html());
        })
        $("#totalCost").html(totalPrice.toFixed(2));
    });
</script>
